Assignment2__client/Assignment2__client/Connected Services/EnrollServiceReference/EnrollWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Enroll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="studentId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnrollResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnrollResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnrollSoapIn">
    <wsdl:part name="parameters" element="tns:Enroll" />
  </wsdl:message>
  <wsdl:message name="EnrollSoapOut">
    <wsdl:part name="parameters" element="tns:EnrollResponse" />
  </wsdl:message>
  <wsdl:portType name="EnrollWebServiceSoap">
    <wsdl:operation name="Enroll">
      <wsdl:input message="tns:EnrollSoapIn" />
      <wsdl:output message="tns:EnrollSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnrollWebServiceSoap" type="tns:EnrollWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enroll">
      <soap:operation soapAction="http://tempuri.org/Enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnrollWebServiceSoap12" type="tns:EnrollWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enroll">
      <soap12:operation soapAction="http://tempuri.org/Enroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnrollWebService">
    <wsdl:port name="EnrollWebServiceSoap" binding="tns:EnrollWebServiceSoap">
      <soap:address location="http://localhost:61950/Services/EnrollWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EnrollWebServiceSoap12" binding="tns:EnrollWebServiceSoap12">
      <soap12:address location="http://localhost:61950/Services/EnrollWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>